@{
    ViewData["Title"] = "Signup";
}

<form action="" method="post">
    <h1>Signup page</h1>
    <div class="form-group">
        <label for="firstname" class="label">First Name</label>
        <input type="text" name="firstname" id="first_id" class="form-control">
    </div>

    <div class="form-group">
        <label for="lastname" class="label">Last Name</label>
        <input type="text" name="lastname" id="last_id" class="form-control">
    </div>

    <div class="form-group">
        <label for="lastname" class="label">Email</label>
        <input type="email" name="email" id="email_id" class="form-control">
    </div>

    <div class="form-group">
        <label for="password" class="label">Password</label>
        <input type="password" name="password" id="pass_id" class="form-control">
    </div>
    <div class="form-group">
        <label for="confirm" class="label">Confirm Password</label>
        <input type="password" name="confirm" id="confirm_id" class="form-control">
    </div>

    <Button class="btn btn-primary">Create</Button>
    <a href="https://localhost:5001/Contact/login"><strong>Have Account?</strong></a>
</form>