@{
    ViewData["Title"] = "About Page";
    ViewData["name"] = "Yonas Alem";
}
<h1>@ViewData["Title"]</h1>
<div class="nav">
    <p>@ViewData["name"]</p>
</div>

<footer>
    This is about page.
</footer>
