@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["statement"] = "Privacy Page ";
}
<h1>@ViewData["Title"]</h1>
<div class="nav">
    <p>@ViewData["statement"]</p>
</div>

<div class="body">
    <ul>
        @for(int i = 0;i < ViewBag.Times; i++){
            <li> @ViewBag.Message</li>
        }
    </ul>
</div>

<p>Use this page to detail your site's privacy policy.</p>
